
/* stylelint-disable */

.btn {
    padding: 15px 0;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f6cc29;
    text-align: center;
    border: 0;
    text-decoration: none;
    opacity: .98;
    border-radius: 30px;
    box-shadow: 13px 13px 15px rgba(0, 0, 0, 0.12);
    font-size: 22px;

    &:hover {
        opacity: 1;
        text-decoration: none;
        transform: scale(.98);
    }
}   

.btn-center {
    text-align: center;
}

@media (max-width: 480px) {
    .btn {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
