
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        background-image: url("../media/section/face.jpg");
        background-position: center top;
    }

    &_info {
        padding-bottom: 120px;
        background-image: url("../media/section/info.jpg");
        background-position: center;
    }

    &_signs {
        background-image: url("../media/section/signs.jpg");
        background-position: center;
        background-size: cover;
    }

    &_complications {
        padding-bottom: 300px;
        background-image: url("../media/section/complications.jpg");
        background-position: center bottom;
    }

    &_fight {
        background-color: #222d3f;
    }

    &_professional {
        position: relative;
        background-image: url("../media/section/professional.jpg");
        background-position: center bottom;
        background-color: #335998;
    }

    &_commits {
        background-color: #fff;
    }
}

.section__professional-media {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 438px;
    height: 634px;
    transform: translateX(-50%);
    margin-left: 300px;
    width: 438px;
    background-image: url("../media/professional/human.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 1440px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_face {
            padding-bottom: 675px;
            background-image: url("../media/section/face-1440.jpg");
            background-position: center bottom;
            background-color: #e72041;
        }

        &_info {
            padding-bottom: 120px;
        }

        &_complications {
            background-image: url("../media/section/complications-1440.jpg");
        }

        &_professional {
            background-position: left bottom;
        }
    }

    .section__professional-media {
        display: none;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            padding-bottom: 500px;
            background-image: url("../media/section/face-768.jpg");
        }

        &_info {
            padding-bottom: 400px;
            background-image: url("../media/section/info-768.jpg");
            background-position: left bottom;
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {
        &_info {
            padding-bottom: 55%;
            background-size: contain;
        }

        &_professional {
            padding-top: 240px;
            background-image: url("../media/section/professional-480.jpg");
        }

        &_complications {
            padding-bottom: 200px;
        }
    }

    .section__professional-media {
        top: 40px;
        left: 50%;
        margin-left: 0;
        display: block;
        width: 191px;
        height: 215px;
        background-image: url("../media/professional/human-480.png");
    }
}
