
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        position: relative;
        z-index: 1;
        background-image: url("../media/section/face.png");
        background-position: center top;
        background-color: transparent;
    }

    &_where {
        padding-top: 240px;
        padding-bottom: 155px;
        margin-top: -180px;
        background-image: url("../media/section/where.jpg");
        background-position: center top;
    }

    &_list {
        position: relative;
        z-index: 1;
        margin-top: -155px;
        padding-top: 215px;
        background-image: url("../media/section/list.png");
        background-position: center top;
        background-color: transparent;
    }
}

@media (max-width: 1280px) {
    .section {
        &_face {
            background-image: url("../media/section/face-1280.jpg");
        }

        &_where {
            padding-top: 160px;
        }

        &_list {
            margin-top: -180px;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_where {
            padding-bottom: 300px;
            margin-top: 0;
            background-image: url("../media/section/where-768.jpg");
            background-position: center bottom;
        }

        &_list {
            margin-top: -100px;
            padding-top: 130px;
        }
    }

    .face__product {
        position: static;
        margin-right: auto;
        margin-left: auto;
        max-width: 270px;
        margin-bottom: -60px;
    }
}
