
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        position: relative;
        z-index: 1;
        background-image: url("../media/section/face.png");
        background-position: center top;
        background-color: transparent;
    }

    &_where {
        padding-top: 240px;
        padding-bottom: 155px;
        margin-top: -180px;
        background-image: url("../media/section/where.jpg");
        background-position: center top;
    }

    &_list {
        position: relative;
        z-index: 1;
        margin-top: -155px;
        padding-top: 215px;
        background-image: url("../media/section/list.png");
        background-position: center top;
        background-color: transparent;
    }

    &_warning {
        background-image: url("../media/section/warning.jpg");
        background-position: top center;
    }

    &_product {
        margin-top: -100px;
        background-image: url("../media/section/product.jpg");
        background-position: top center;
        padding-bottom: 0;
    }

    &_def {
        padding-top: 0;
    }

    &_help {
        margin-top: -50px;
        padding-top: 0;
        padding-bottom: 0;
        background-image: url("../media/section/help.jpg");
        background-position: center;
        background-size: cover;
    }

    &_ingredients {
        background-image: url("../media/section/ingredients.jpg");
        background-position: top center;
    }

    &_professional {
        padding-top: 0;
        padding-bottom: 0;
        background-image: url("../media/section/professional.jpg");
        background-position: top center;
    }
}

.section__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 50px 150px;
    transform: translateY(50%);
    border: 7px solid #d65973;
    border-radius: 5px;
    background-color: #000;
    background-image: url("../media/section/warning-info.jpg");
    background-repeat: no-repeat;
    background-position: left center;

    p {
        flex: 0 0 auto;
        width: 100%;
        max-width: 390px;
        color: #fff;

        &:first-child {
            font-size: 30px;
            font-weight: 700;
        }

        &:last-child {
            line-height: 1.8;
        }
    }
}

@media (max-width: 1280px) {
    .section {
        &_face {
            background-image: url("../media/section/face-1280.jpg");
        }

        &_where {
            padding-top: 160px;
        }

        &_list {
            padding-bottom: 0;
            margin-top: -180px;
            padding-top: 150px;
        }

        &_warning {
            padding-top: 370px;
            background-image: url("../media/section/warning-1280.jpg");
        }

        &_product {
            padding-bottom: 0;
            margin-top: -150px;
            background-image: url("../media/section/product-1280.jpg");
        }

        &_help {
            background-image: url("../media/section/help-1280.jpg");
        }

        &_professional {
            background-image: url("../media/section/professional-1280.jpg");
        }
    }

    .section__info {
        flex-direction: column;
        align-items: flex-start;
        transform: translateY(0);

        p {
            max-width: 400px;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_where {
            padding-bottom: 300px;
            margin-top: 0;
            background-image: url("../media/section/where-768.jpg");
            background-position: center bottom;
        }

        &_list {
            margin-top: -100px;
            padding-top: 130px;
        }

        &_warning {
            padding-top: 370px;
        }

        &_product {
            padding-bottom: 0;
            margin-top: -70px;
            background-image: url("../media/section/product-768.jpg");
        }

        &_professional {
            background-image: url("../media/section/professional-768.jpg");
            background-position: center bottom;
            background-color: #506a9a;
        }
    }

    .face__product {
        position: static;
        margin-right: auto;
        margin-left: auto;
        max-width: 270px;
        margin-bottom: -60px;
    }

    .section__info {
        background-image: url("../media/section/warning-info-768.jpg");
    }
}

@media (max-width: 480px) {
    .section {
        &_product {
            padding-bottom: 0;
            margin-top: -100px;
            background-image: url("../media/section/product-480.jpg");
        }

        &_help {
            margin-top: 0;
            background-image: url("../media/section/help-480.jpg");background-position: center top;
        }

        &_professional {
            background-image: url("../media/section/professional-480.jpg");background-position: center bottom;
            padding-bottom: 330px;
        }
    }

    .section__info {
        padding: 15px;
        padding-bottom: 150px;
        background-image: url("../media/section/warning-info-480.jpg");
        background-position: center bottom;
    }
}
