<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Отзывы покупателей</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                    <div class="commits__name">Miguel Rodrigues, <span>56 лет</span></div>
                    <div class="commits__description">С гипертонией живу давно и не сказать, что когда-то на этот счет сильно переживал. Да, давление сказывается плохо, состояние плохо, но жить можно, и я жил. До тех пор, пока на свадьбе дочери в разгар церемонии не потерял сознание. Очнулся уже в палате, где сообщили о микроинфаркте. Врач сухо предупредил, что следующий раз будет последним. Выдал рекомендации по питанию и коррекции образа жизни, акцентировал внимание на приеме Teccardin – с тех пор и начал его принимать. Два года прошло, полет нормальный. Давление держится в пределах нормы. Считаю, что это полностью заслуга Teccardin, поэтому ответственно его рекомендую всем гипертоникам. И лучше до того, как вам это скажет врач.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.jpg" alt=""></div>
                    <div class="commits__name">Herran Macias, <span>63 года</span></div>
                    <div class="commits__description">С гипертонией жил 25 лет, все эти годы сидел на таблетках, ходил постоянно по врачам и бывало даже вызывали скорую, когда давление сильно подскакивало. Знакомый врач однажды мне посоветовал пропить курс Teccardin – полностью натуральный препарат без побочных эффектов, как он заявил. Начал курс, давление в первые дни упало с 155/95 до 140/85 и держалось так почти месяц, без резких скачков. После полного курса давление стало стабильно держаться в районе от 120/75 до 135/85. Препаратом очень доволен, спасибо.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.jpg" alt=""></div>
                    <div class="commits__name">Nour Kali, <span>47 лет</span></div>
                    <div class="commits__description">Больше никогда не буду губить свое здоровье препаратами из аптек и антибиотиками! Teccardin натуральное восстановительное средство, помогает решить проблему гипертонии, укрепляет иммунитет. За 5 приемов вылечила давление, отеки, головную боль, гормональные скачки. До такого состояния меня довели капсулы и сиропы от гипертонии, которые в аптеке покупала по советам местных фармацевтов.</div>
                    <div class="commits__stars">
                        <img src="../media/commits/stars.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="alarm">
            <div class="alarm-wrap">
                <div class="alarm-left">
                    <h3 class="alarm-title">ПОЖАЛУЙСТА, <br></h3>
                </div>
                <div class="alarm-right">
                <p class="alarm-text">Количество упаковок с Teccardin, необходимое для желаемого результата, <b>определяется индивидуально и в отдельных случаях может увеличиться.</b></p>
                </div>
            </div>
        </div>
    </div>
</section>