
<section class="section section_def">
    <div class="container">
        <div class="def">
            <div class="def__title">teccardin защитит вас от негативных последствий высокого давления и <mark>обезвредит болезнь на всю жизнь*</mark></div>
            <div class="def__body">
                <div class="def__item">
                    <div>Укрепляет кровеносные сосуды</div>
                    <p>Предотвращает инсульт головного мозга</p>
                </div>
                <div class="def__item">
                    <div>Поддерживает работу сердца</div>
                    <p>Защищает от инфаркта</p>
                </div>
                <div class="def__item">
                    <div>Стабилизирует работу нервной системы</div>
                    <p>Устраняет бессонницу, депрессивные состояния, головные боли</p>
                </div>
                <div class="def__item">
                    <div>Улучшает кровообращение</div>
                    <p>Оздоравливает весь организм</p>
                </div>
                <div class="def__item">
                    <div>Побеждает причину гипертонии</div>
                    <p>Сохраняет здоровье на долгие годы</p>
                </div>
            </div>
        </div>
    </div>
    </section>
