<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__logo">Teccardin</div>
            <div class="face__box">
                <div class="face__title">Гипертония – безнаказанный убийца</div>
                <div class="face__subtitle">Не ждите развязки – лечите болезнь с Teccardin</div>
                <div class="face__list">
                    <div>Эффективно</div>
                    <div>Без осложнений</div>
                    <div>В короткие сроки</div>
                </div>
            </div>
            <div class="face__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>