
<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="ingredients__title">Ингредиенты <span>Teccardin</span></div>
            <div class="ingredients__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="ingredients__list">
                <div class="ingredients__item">
                    <div class="ingredients__media"><img src="../media/ingredients/img-1.jpg" alt=""></div>
                    <div class="ingredients__name">Кальций</div>
                    <div class="ingredients__description">Улучшает проницаемость клеточных оболочек, облегчает доступ питательных веществ к сердцу и сосудам. Снижает нервно-мышечную возбудимость, способствует улучшению сна и снятию гипертонуса мышц.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media"><img src="../media/ingredients/img-2.jpg" alt=""></div>
                    <div class="ingredients__name">Витамин В1</div>
                    <div class="ingredients__description">Улучшает работу нервной системы, влияет на белковый обмен, обеспечивает клетки энергией, улучшает память и внимание, участвует в кроветворении.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media"><img src="../media/ingredients/img-3.jpg" alt=""></div>
                    <div class="ingredients__name">Магний</div>
                    <div class="ingredients__description">Способствует расслаблению мышц, регулирует возбудимость клеток. Предотвращает развитие инфаркта и инсульта, образование тромбов. Поддерживает здоровье нервной и сердечно-сосудистой систем.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media"><img src="../media/ingredients/img-4.jpg" alt=""></div>
                    <div class="ingredients__name">Витамин В5</div>
                    <div class="ingredients__description">Нормализует уровень липидов и содержание холестерина в крови, укрепляет нервную системы и повышает стрессоустойчивость, уменьшает вероятность развития ишемической болезни и инфаркта.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media"><img src="../media/ingredients/img-5.jpg" alt=""></div>
                    <div class="ingredients__name">Чеснок</div>
                    <div class="ingredients__description">Оказывает расслабляющее действие на сосуды, способствует расширению артерий и артериол, за счет чего артериальное давление понижается.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media"><img src="../media/ingredients/img-6.jpg" alt=""></div>
                    <div class="ingredients__name">Витамин В2</div>
                    <div class="ingredients__description">Необходим для образования эритроцитов, антител; помогает усвоить железо, необходимое для создания новых красных кровяных телец.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media"><img src="../media/ingredients/img-7.jpg" alt=""></div>
                    <div class="ingredients__name">Семена льна</div>
                    <div class="ingredients__description">Очищают стенки сосудов от атеросклеротических бляшек, предотвращают болезни сердечно-сосудистой системы, снижают уровень "плохого" холестерина в крови.</div>
                </div>
                <div class="ingredients__item">
                    <div class="ingredients__media"><img src="../media/ingredients/img-8.jpg" alt=""></div>
                    <div class="ingredients__name">Витамин В12</div>
                    <div class="ingredients__description">Предотвращает дисфункцию нервной системы, анемию; нормализует кровообращение, очищает артерии от закупорки.</div>
                </div>
            </div>
        </div>
    </div>
    </section>
