
<section class="section section_list">
    <div class="container">
        <div class="list">
            <div class="list__title">Болезнь просачивается в жизнь человека так незаметно, что ее первые признаки можно спутать с плохим самочувствием</div>
            <div class="list__body">
                <div class="list__item">
                    <p>Головная боль</p>
                </div>
                <div class="list__item">
                    <p>Шум и звон в ушах</p>
                </div>
                <div class="list__item">
                    <p>Головокружение</p>
                </div>
                <div class="list__item">
                    <p>Неприятные ощущения в области грудной клетки</p>
                </div>
                <div class="list__item">
                    <p>Беспокойный сон и периодическая бессонница</p>
                </div>
            </div>
        </div>
    </div>
    </section>
