
<section class="section section_product">
    <div class="container">
        <div class="product">
            <div class="product__media">
                <img src="../media/product/product.png" alt="">
            </div>
        </div>
    </div>
    </section>
