
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="warning__title">Высокое давление – <mark>это только начало</mark> </div>
            <div class="warning__description">Гипертония беспощадна в своем разрушении. Высокое давление неизбежно влечет за собой множество последствий. Поначалу они терпимы, позже – устраняются медикаментами. В финале ведут к отказу работы органов и смерти.</div>
            <div class="warning__list">
                <div class="warning__item">Головной мозг (хроническая ишемия или инсульт)</div>
                <div class="warning__item">Сердце (стенокардия и/или инфаркт миокарда)</div>
                <div class="warning__item">Сосуды (атеросклероз и/или сужение сосудов)</div>
                <div class="warning__item">Глаза (ухудшение зрения)</div>
                <div class="warning__item">Почки (почечная недостаточность)</div>
            </div>
        </div>
        <div class="section__info">
            <p>Таблетки для снижения давления еще хуже, чем сама болезнь</p>
            <p>Снижать высокое давление с помощью таблеток равносильно тому, чтобы помочь снять курок тому, кто хочет в вас выстрелить. Гипертонию нельзя заглушить, ослабив симптомы. Ее нужно лечить.</p>
        </div>
    </div>
    </section>
