
<section class="section section_where">
    <div class="container">
        <div class="where">
            <div class="where__title">Откуда берется <mark>гипертония?</mark></div>
            <div class="where__description">
                <p>В организме человека кровь перемещается по сосудам за счет давления, которое создается при сокращении сердечной мышцы. Под термином “гипертония” подразумевают повышение систолического артериального давления ≥ 140 мм рт.ст. и/или диастолического артериального давления ≥ 90 мм рт.ст.2.</p>
                <p>Артериальная гипертензия обычно не появляется внезапно. Она развивается постепенно, в течение нескольких лет. При этом <mark>человек часто даже не подозревает, что у него хронически повышенное артериальное давление.</mark></p>
            </div>
        </div>
    </div>
    </section>
