.commits__title {
    margin-bottom: 30px;
    line-height: 1;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    font-family: "Heading-Pro", sans-serif;
    color: #000;
    text-transform: uppercase;
}

.commits__box .owl-stage-outer {
    padding-bottom: 20px;
}

.commits__box .owl-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px !important;
}

.commits__box .owl-dot {
    width: 15px !important;
    height: 15px !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    background-color: #fff !important;
    border: 1px solid #000 !important;
    border-radius: 50% !important;
}

.commits__box .owl-nav {
    position: absolute;
    top: 34px;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.owl-carousel.commits__box .owl-nav button {
    display: block;
    width: 65px;
    height: 65px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px !important;
    cursor: pointer;

    &:focus {
        transform: scale(0.9);
        outline: none;
    }
}

.owl-carousel.commits__box .owl-nav .owl-prev {
    background-image: url("../media/commits/prev.png");
}

.owl-carousel.commits__box .owl-nav .owl-next {
    background-image: url("../media/commits/next.png");
}

.commits__box .owl-nav button > span {
    display: none;
}

.commits__box .owl-dot.active {
    background-color: #000 !important;
    border: 0 !important;
}

.commits__box .owl-dot:focus {
    outline: none;
}

.commits__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 33px 35px 20px;
    background-color: #f5f6f9;
    // box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.58);
    border-radius: 5px;
    overflow: hidden;
}

.commits__face {
    position: absolute;
    top: 20px;
    left: 35px;
    width: 82px;
    height: 82px;
    overflow: hidden;
    background-color: #000;
    border-radius: 50%;
    border: 7px solid #e96771;
}

.commits__name {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    padding-left: 95px;

    & span {
        display: block;
        margin-top: 5px;
        font-weight: 400;
        color: #000;
    }
}

.commits__description {
    width: 100%;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 18px;
}

.commits__stars img {
    width: auto !important;
    max-width: 100%;
}

@media (max-width: 480px) {
    .commits__item {
        padding: 23px 15px 15px;
    }

    .commits__description {
        font-size: 16px;
    }

    .commits__box .owl-dots {
        margin-top: 15px !important;
    }

    .commits__box .owl-nav {
        max-width: 235px;
        top: 27px;
    }

    .commits__box .owl-dot {
        width: 40px !important;
        height: 5px !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        border: none !important;
        border-radius: 7px !important;
        background-color: #f2f2f2 !important;
    }

    .commits__title {
        margin-bottom: 15px;
        font-size: 26px;
        text-align: center;

        & span {
            display: inline;
        }
    }

    .commits__face {
        width: 69px;
        height: 69px;
        border-radius: 50%;
    }

    .commits__title {
        font-size: 32px;
    }
}