.face {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.face__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 9px 1px;
    border-radius: 5px;
    background-color: #8a3446;
    text-transform: uppercase;
    font-size: 27px;
    font-family: "Heading-Pro", sans-serif;
    font-weight: 350;
    color: #fff;
}

.face__title {
    max-width: 370px;
    margin-bottom: 40px;
    font-size: 37px;
    font-family: "Heading-Pro", sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

.face__subtitle {
    max-width: 450px;
    margin-bottom: 40px;
    font-family: "Heading-Pro", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 68px;
    line-height: 1;
    text-transform: uppercase;
}

.face__list {
    position: relative;
    width: 295px;
    height: 275px;

    div {
        position: absolute;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        font-weight: 700;
        color: #fff;
        padding: 70px 15px 15px 15px;
        text-align: center;
        background-position: center 25px;
        background-repeat: no-repeat;

        &:nth-child(1) {
            top: 0;
            left: 0;
            background-color: #fff;
            color: #060606;
            background-image: url("../media/face/icon-1.png");
        }

        &:nth-child(2) {
            top: 0;
            right: 0;
            background-color: #57464a;
            background-image: url("../media/face/icon-2.png");
        }

        &:nth-child(3) {
            bottom: 0;
            left: 50%;
            margin-left: -70px;
            background-color: #ac2f49;
            background-image: url("../media/face/icon-3.png");
        }
    }
}

.face__product {
    position: absolute;
    left: 50%;
    bottom: -60px;
    z-index: 2;
    transform: translateX(-50%);

    &::before {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 483px;
        height: 445px;
        background-image: url("../media/heart.png");
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
    }
}

@media (max-width: 1280px) {
    .face {
        flex-direction: column;
        align-items: flex-start;
    }

    .face__logo {
        position: static;
        transform: translateX(0);
        margin-bottom: 40px;
    }

    .face__title {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .face__subtitle {
        max-width: 100%;
        font-size: 50px;
        margin-bottom: 30px;
    }

    .face__list {
        display: flex;
        width: auto;
        height: auto;
        margin-bottom: 40px;

        div {
            position: static;

            &:nth-child(3) {
                margin-left: 15px;
            }

            & + div {
                margin-left: 15px;
            }
        }
    }

    .face__product {
        left: auto;
        right: 0;
        bottom: 0;
        transform: translateX(0);
        max-width: 400px;

        &::before {
            width: 400px;
            height: 380px;
        }
    }

    .face__box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .face__logo {
        margin-right: auto;
        margin-left: auto;
    }

    .face__title {
        font-size: 30px;
    }

    .face__subtitle {
        font-size: 47px;
    }

    .face__list {
        width: 290px;
        height: 275px;
        margin-right: auto;
        margin-left: auto;

        div {
            position: absolute;

            &:nth-child(3) {
                margin-left: -70px;
            }
        }
    }

    .face__product {
        max-width: 230px;

        &::before {
            width: 290px;
            height: 270px;
        }
    }

    .form__title {
        font-size: 23px;
    }
}