
.product {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 780px;
}

@media (max-width: 1280px) {
    .product {
        min-height: 505px;
    }

    .product__media {
        max-width: 500px;
    }
}

@media (max-width: 768px) {
    .product {
        min-height: 310px;
    }

    .product__media {
        max-width: 330px;
    }
}

@media (max-width: 480px) {
    .product {
        min-height: 370px;
    }
}